@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --foreground: white;
  --background-rgb: 214, 219, 220;

  --b1: #29253b;
  --b2: #e5d9ca;
  --b3: #5799bf;
  --b4: #e85042;


}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground);
  background: rgb(var(--background-rgb));
  padding-top: 70px;
}

.navbar {
  background-color: var(--b1);
}
.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.navbar-brand img {
  margin-right: 10px;
}

.main-container {
  height: calc(100vh - 70px);
}

.long {
  background-color: var(--b4);

  background: linear-gradient(43deg, rgba(215,79,66,1) 0%, rgba(232,80,66,1) 100%);
}

.short {
  background-color: var(--b1);

  background: linear-gradient(0deg, rgba(33,30,43,1) 0%, rgba(41,37,59,1) 100%);
}

button {
  background-color: var(--b4);
  color: var(--foreground);
  border: none;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.col-b4 {
  color: var(--b4);
}

.icon {
  height: 13px;
}
.list-item {
  display: block;
  margin-left: 0.5rem;
  height: 1.25rem;
}

.street {
  display: inline-block;

}
.street0 {
  animation: street0 1s linear both infinite;
}

@keyframes street0 {
  0% {
    opacity: 40%;
    transform: translateX(0px);
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 40%;
      transform: translateX(250px);
  }
}
.street1 {
  animation: street1 1s linear both infinite 0.25s;
}

@keyframes street1 {
  0% {
    opacity: 40%;
    transform: translateX(-80px);
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 40%;
      transform: translateX(170px);
  }
}
.street2 {
  animation: street2 1s linear both infinite 0.5s;
}

@keyframes street2 {
  0% {
    opacity: 40%;
    transform: translateX(-160px);
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 40%;
      transform: translateX(90px);
  }
}
.street3 {
  animation: street3 1s linear both infinite 0.75s;
}

@keyframes street3 {
  0% {
    opacity: 40%;
    transform: translateX(-240px);
  }
  50% {
    opacity: 100%;
  }
  100% {
      opacity: 40%;
      transform: translateX(10px);
  }
}

.car {
  margin-left: 20%;
  margin-right: 50%;
  opacity: 80%;
  animation: car 2s ease-in-out forwards infinite;
}
@keyframes car {
  0% {
    transform: rotate(-3deg) translateY(-12px);
  }

  50% {
    transform: rotate(3deg) translateY(12px);

  }
  100% {
    transform: rotate(-3deg) translateY(-12px);
  }
}