@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --foreground: white;
  --background-rgb: 214, 219, 220;

  --b1: #29253b;
  --b2: #e5d9ca;
  --b3: #5799bf;
  --b4: #e85042;


}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground);
  background: rgb(var(--background-rgb));
  padding-top: 70px;
}

.navbar {
  background-color: var(--b1);
}
.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.navbar-brand img {
  margin-right: 10px;
}

.main-container {
  height: calc(100vh - 70px);
}

.long {
  background-color: var(--b4);

  background: linear-gradient(43deg, rgba(215,79,66,1) 0%, rgba(232,80,66,1) 100%);
}

.short {
  background-color: var(--b1);

  background: linear-gradient(0deg, rgba(33,30,43,1) 0%, rgba(41,37,59,1) 100%);
}

button {
  background-color: var(--b4);
  color: var(--foreground);
  border: none;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.col-b4 {
  color: var(--b4);
}